.login {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #f0f0f0;
}

.login-logo {
  width: 30%;
  height: auto;
  display: compact;
  margin: 0 auto 20px;
}

.login-container {
  width: 36%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 50px rgb(0 0 0 / 10%);
  background: rgb(255 255 251);
}

.login-form {
  left: 5%;
  top: 55%;
  width: 75%;
  position: absolute;
}

.login-remember {
  left: 75%;
  top: 40%;
  position: absolute;
}

.login-input-button {
  top: 30px;
  left: -20px;
}